name: CI

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main]
    tags: ["v[0-9]+.[0-9]+.[0-9]+"]
  pull_request:
    branches: [main]

  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    name: Build and test
    strategy:
      matrix:
        version: [20, 22]
    steps:
      - uses: actions/checkout@v5
      - name: Using Node.js ${{ matrix.version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.version }}

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm test

  publish:
    needs: [build_and_test]
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Publish (trusted publishing)
        run: npm publish
